/* custom css file */

/* main */
html,body{
    margin:0;
    padding:0;
    overflow:auto;
    height: 100%;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Cabin Sketch', cursive;
    overflow-x: hidden;
}

/* background image */
.bg-img {
    background-image: url("img/vacay.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* about us background image*/
.bg-img-about {
    background-image: url("img/mv1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* sdk background image */
.bg-img-sdk {
    background-image: url("img/river.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* kk background image */
.bg-img-kk {
    background-image: url("img/beach.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* kk background image */
.bg-img-customT {
    background-image: url("img/custom.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* navigation bar */
.container-nav {
    width: 100%;
    position: absolute;
}
.nav {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: transparent;
    padding-top: 30px;
    padding-bottom: 30px;
}
.nav ul {
    padding: 0;
    margin: 0;
}
.nav li {
    font-family: 'Oswald', sans-serif;
    list-style: none;
    display: inline-block;
    padding: 0 15px 0 15px;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    vertical-align: middle;
}

/* logo background transparent AKA the fifth on the list */
.nav li:nth-child(5) {
    background-color: transparent;
}

.nav img {
    width: 160px;
}
.nav a {
    color:black;
    font-size: 18px;
}

/*background wording*/
.welcome {
    position: absolute;
    height: 100vh;
    width: 100vw;
}
.welcome p{
    position: absolute;
    text-align: center;
    font-size: 3vw;
    transform: translate(100%, 240%);
    font-family: 'Permanent Marker', cursive;
    color: #f16022;
}
.main-text{
    padding-top: 50px;
    padding-bottom: 50px;
}
.main-text p{
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
}


.main-pic1{
    background-image: url("img/wildlife.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main-pic2{
    background-image: url("img/culture.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main-pic3{
    background-image: url("img/food.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main-pic1 p{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 12vw;
    font-family: 'Permanent Marker', cursive;
    color: orange;
    text-shadow: 3px 3px white;
    margin: 0;
}

.main-pic2 p{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 12vw;
    font-family: 'Permanent Marker', cursive;
    color: red;
    text-shadow: 3px 3px white;
    margin: 0;
}

.main-pic3 p{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 12vw;
    font-family: 'Permanent Marker', cursive;
    color: darkblue;
    text-shadow: 3px 3px white;
    margin: 0;
}

.side-text{
    margin-bottom: 80px;
}

.side-text img{
    height: 300px;
    width: auto;
    object-fit: cover;
    display: inline-block;
}
.side-text p{
    font-size: 3.5vh;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.side-text2{
    margin-bottom: 80px;
}

.side-text2 p{
    font-size: 3.5vh;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.img-sdk {
    height: 416.25px;
    width: 100%;
    object-fit: cover;
    display: inline-block;
    margin-bottom: 80px;
}

.img-kk {
    height: 416.25px;
    width: 100%;
    object-fit: cover;
    display: inline-block;
    margin-bottom: 80px;
}

.overlay {
    position: relative;
    opacity: 80%;
    transition: .5s ease;
  }

.side-text:hover .overlay {
    opacity: 1;
  }

/*..........................*/
.container {
    padding: 0;
}
/*..........................*/

.footer{
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    background-color: #f16022;
    color: white;
    text-align: center;
}

.footer p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding-top: 20px;
    margin: 0;
}

.org-icon{
    display: inline-block;
    margin: 5px;
}

.org-icon img{
    height: 100px;
    width: auto;
}

.sm-icon {
    display: inline-block;
    padding: 5px;
}

.sm-icon img{
    width: 50%;
    height: 50%;
}

.copyright p{
    text-align: center;
}

.sdk {
    position: absolute;
    top: 46.5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);

}
.sdk p{
    text-align: center;
    font-size: 200px;
    font-family: 'Cabin Sketch', cursive;
    color: brown;
}



/* Scaling for mobile on the text */
@media screen and (max-width: 800px) {
    .welcome p{
        font-size: 20px;
        transform: translate(20%, 1000%);
    }

    .sdk p{
        font-size: 19vw;
    }

    .kk p{
        font-size: 19vw;
    }

    .main-text p{
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
    }   

    .row {
        display: inline-block;
    }
}

.about {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
}
.about p{
    text-align: center;
    /*font-size: 100px;*/
    font-size: 12vw;
    font-family: 'Cabin Sketch', cursive;
    color: rgba(255, 166, 0, 0.877);
}

.kk {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
}
.kk p{
    text-align: center;
    /*font-size: 100px;*/
    font-size: 12vw;
    font-family: 'Cabin Sketch', cursive;
    color: darkblue;
}

.customT {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
}

.customT p{
    text-align: center;
    /*font-size: 100px;*/
    font-size: 12vw;
    font-family: 'Cabin Sketch', cursive;
    color: yellow;
}

